html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
}

main {
  width: 60%;
  height: 100vh;
  float: left;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 33.3% 33.3% 33.3%;
  border: 1px solid black;
}

aside {
  width: 40%;
  height: 100vh;
  margin-left: -2px
}

img {
  height: 10rem;
  width: 10rem;
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-resume {
  background-color: #762EAC;
  grid-column-start: 1;
  grid-column-end: span 2;
}

.profile {
  background-color: #1A4424;
}

.experience {
  background-color: #D1CB6B;
}

.education {
  background-color: #010000;
}

.blog {
  background-color: #F20000;
}

.social-menu {
  background-color: #E45328;
}

.contact {
  background-color: #01662E;
}

.portfolio {
  background-color: #E45733;
}

aside {
  width: 40%;
  float: right;
  background: url('jokerXmas.jpg') no-repeat;
  background-size: cover;
}
