html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
}

p {
  color: #fff;
  font-size: 2.5rem;
  margin: 1rem;
}

main {
  width: 60%;
  height: 100vh;
  float: left;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 33.3% 33.3% 33.3%;
  border: 1px solid black;
}

aside {
  width: 40%;
  height: 100vh;
  margin-left: -2px
}

img {
  height: 10rem;
  width: 10rem;
}

.logo {
  height: 2rem;
  width: 2rem;
  padding-right: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name-resume {
  background-color: #762EAC;
  grid-column-start: 1;
  grid-column-end: span 2;
  display: inline-block;
}

.profile {
  background-color: #1A4424;
}

.experience {
  background-color: #9E3C43;
}

.education {
  background-color: #010000;
}

.blog {
  background-color: #EE0000;
}

.social-menu {
  background-color: #01662E;
}

.contact {
  background-color: #66010A;
}

.portfolio {
  background-color: #231831;
}

aside {
  width: 40%;
  float: right;
  background: url('jokerXmas.jpg') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-position: center;
}

.resume-button,
.contact-button {
  border: 1px solid #fff;
  color: #fff;
  padding: 1rem;
  width: 25%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5rem;
}

.description {
  font-family: 'Alegreya', serif;
  font-size: 1.5rem;
  width: 85%;
  margin: 3rem 0 0 2rem;
}

.ellipsis {
  position: absolute;
  top: 0;
  right: 0;
  height: 4rem;
  margin: 2rem 1rem 0 0;
}

.left-arrow,
.right-arrow {
  height: 6rem;
}
.arrows {
  /*display: flex;
  justify-content: space-between;
  margin-top: 50%;*/
}

@media screen and (max-width: 900px) {
  main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    border: 1px solid black;
    float: none;
    width: 100%;
  }
  aside {
    display: block;
    float: none;
    width: 100%;
    margin-top: 43.5rem;
    background-size: cover;
  }

  .portfolio {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .ellipsis {
    position: absolute;
    top: 155%;
  }
  .left-arrow,
  .right-arrow {
    position: relative;
    top: 48%;
  }

  .right-arrow {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 450px) {
  body {
    background-color: black;
  }
  main {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid black;
  }

  article {
    width: 100%;
  }

  aside {
    display: block;
    float: none;
    width: 100%;
    margin-top: 0;
    background-size: cover;
    border: 2px solid black;
  }

  img {
    padding: 2rem;
  }

  .ellipsis {
    display: absolute;
    top: 200%;
  }

  .resume-button,
  .contact-button{
    height: 2rem;
    width: 10rem;
  }

  .button-container{
    margin: 2rem 0 0 0;
    padding: 2rem;
  }
}
